<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo logo">
                {{ settings:logo_header }}
            </div>
            <div class="menu">
                <ul class="menu__links">
                    {{ nav:main }}
                    <li class="menu__link{{ if is_current }} menu__link--current{{ /if }}">
                        <a href="{{ url }}">
                            <span class="menu__link__title">
                                {{ title }}
                            </span>
                        </a>
                    </li>
                    {{ /nav:main }}
                </ul>
            </div>
        </div>
    </div>
</header>
