.hero {
  display: flex;
  justify-content: center;
}

.hero__content {
  height: calc(100vh - #{$header-mobile-height});
  width: 100%;

  @include media-breakpoint-up(md) {
    display: flex;
    height: calc(80vh);
    justify-content: center;

    max-width: 600px;
    position: relative;
  }
}

.hero__title {
  font-family: font(sans-serif);
  left: 0;
  position: absolute;
  top: 80px;
  transform: translate(-85%, 40px) rotate(90deg);
}

.hero__image {
  display: block;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}
