$colors: (
  beige: (
    base: #eff6e0,
  ),
  black: (
    base: #000,
  ),
  blue: (
    base: #598392,
    dark: #124559,
    darker: #01161e,
  ),
  green: (
    base: #aec3b0,
  ),
  white: (
    base: #FFF,
  ),
);

$screen-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
