.container {
  margin: 0 auto;
  max-width: none;
  padding: 0 20px;

  @include media-breakpoint-up(xs) {
    max-width: 540px;
  }

  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}
